.border-shadow-bottom {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.bg-slide {
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-slide-image{
     width: 100%;
     height: 100%;
}

#img-slide-1{
    background-image: url(../img/home1.png);
}

#img-slide-2{
    background-image: url(../img/home2.png);
}

.about {
    width: 100%;
    height: 650px;
    background-image: url(../img/about.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.about-logo {
    padding-top: 13vh;
    padding-left: 6vh;
}

.about-title {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
}

.about-title-text {
    text-align: center;
    width: 30vh;
}

.about-title-text h2 {
    font-weight: 600;
    font-size: 40px;
}

.about-content {
    margin-top: 8vh;
}

.about-content-text {
    text-align: justify;
    font-size: 21px;
}

.best-product {
    width: 100%;
    height: 650px;
    padding-top: 3vh;
}

.best-product-text {
    text-align: center;
    /* background-color: aliceblue; */
    height: fit-content;
}

.best-product-items {
    margin-top: 6vh;
}

.item-box {
    height: 440px;
    width: 270px;
    margin-top: 75px;
    background-image: url('../img/produk-bg-1.png');
    background-size: contain;
    background-position: center;
    position: relative;
    padding-top: 40%;
    border-radius: 10px;
}

.item-image {
    background-color: red;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.item-text {
    text-align: center;
    padding: 0;
}

.item-title {
    color: #f1ae32;
    font-size: 24px;
    line-height: 30px;
}

.separate-line {
    width: 60%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    background-color: white;
}

.text-harga {
    color: #f1ae32;
    font-size: 22px;
    margin-top: 4px;
    margin-bottom: 3px;
}

.box-harga {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 70px;
}

.text-harga-normal{
    color: #f1ae32;
    font-size: 32px;
    font-weight: 700;
}
.text-harga-up{
    color: #f1ae32;
    font-size: 76px;
    font-weight: bold;
}
.box-desc{
    width: 200px;
    display: flex;
    margin-left: 13%;
    margin-top: 25px;
}
.desc-sort{
    font-size: 22px;
    font-weight: bold;
    color: white;
}


.item-box-2 {
    height: 440px;
    width: 270px;
    margin-top: 75px;
    background-image: url('../img/produk-bg-2.png');
    background-size: contain;
    background-position: center;
    position: relative;
    padding-top: 40%;
    border-radius: 10px;
}

.item-box-2 .item-text .item-title{
    color:#7e5303;
}

.item-box-2 .item-text .separate-line{
    background-color:#7e5303;
}

.item-box-2 .item-text .text-harga{
    color:#7e5303;
}

.item-box-2 .item-text .text-harga-normal{
    color:#7e5303;
}

.item-box-2 .item-text .text-harga-up{
    color:#7e5303;
}

.item-box-2 .box-desc .desc-sort{
    color:#7e5303;
}

.btn-show-menu{
    background-color: #7e5303;
    padding: 7px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}